doctype html
html
  head
    meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1')
    title ClockWise

  body(style='-webkit-app-region: drag;').blue
    header.row
      #playPause.menu-item.col.s4
        
      #reset.menu-item.col.s4
        
      #muter.menu-item.col.s4
          
    main
      #timerInput
      
    
    script(src='dep.js')