doctype html
html
  head
    meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1')
    title ClockWise

  body.blue
    header
      .upper.grey.lighten-5
        .nav-wrapper
          button.btn-flat.waves-effect.waves-red.right
            | close
            
          button.btn-flat.waves-effect.right
            | minimize
              
      .lower.row
        #playPause.menu-item.col.s4
          
        #reset.menu-item.col.s4
          
        #muter.menu-item.col.s4
          
    main
      #timerInput
      
    #alarmPopup
    
    script(src='dep.js')