doctype html
html
  head
    meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1')
    title ClockWise

  body.container-fluid
    header.col-xs-12
      #playPause.menu-item
        
      #reset.menu-item
          
    main.col-xs-12
      #timerInput
      
    
    script(src='dep.js')