.upper {
  color: black;
  
  .nav-wrapper {
    height: 100%;
    -webkit-app-region: drag;
    
    button {
      height: 100%;
      -webkit-app-region: no-drag;
    }
    
    button:focus {
      background-color: inherit;
    }
    
    button.waves-red {
      color: #f44336 ;
    }
  }
}